# Python
__pycache__/
*.pyc
.venv/
venv/

# Database
cordhisk.db

# Local data
memory_files/
CORDHISK_App_v3_MacOS/memory_files/
CORDHISK_App_v3_Win/memory_files/

# OS
.DS_Store


.ipynb_checkpoints/

# PyInstaller build output
build/
dist/
.pyinstaller-build/
.pyinstaller-dist/
*.spec
*.log
